.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body { 
    background-color: #232946;
    width: 100%;
    height: auto;
    font-family: 'Fredericka the Great', cursive;
}
nav{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em
}
nav button{
    background-color: #eebbc3;
    color: #232946;
    width: 6rem;
    height: 3rem;
    margin: 0 1em;
    
}
main{
    position:fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 6vmin;
}
.popup {    
    background-color: black;
    height: 55vh;
    width: 65vw;
    position: absolute;
    justify-content: space-around;
}
#first-popup {
    display: flex;

    z-index: 999;
}
.popup-button {
    height: 25%;
    width: 35%;
    font-size: xx-large;
}
#player-name-popup{
    display: none;
}
#player-data {
    flex-direction: column;
}
#gameboard-container {
    width: 80vmin;
    height: 80vmin;
}
#player-display {
    width: 50vmin;
    height: 80vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10vmin;
}
#display-info {
    color:white;
    font-size: 3vmin;
    text-align: center;
}
.player-card {
    color: white;
    font-size: 3vmin;
    flex-direction: column;
    justify-content:space-around;
    padding: 1em 0;
    height: 50%;
    width: 100%;
}
.player-avatar{
    height:100%;
    background: rgb(184,193,236);
    background: radial-gradient(circle, rgba(184,193,236,1), transparent 135px);
    border-radius: 50%;
}
#gameboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
    padding: 2%;
}
.game-cell {
    min-width: 100%;
    min-height: 100%;
    font-size: 16vmin;
    border-radius: 0.15em;
}
.left-border{
    border-left: 0.05em solid white;
}
.right-border{
    border-right: 0.05em solid white;
}
.bottom-border{
    border-bottom:  0.05em solid white;
}
.top-border{
    border-top: 0.05em solid white;
}


#top-left-corner{

}
#top-right-corner{

}
#bottom-left-corner{

}
#bottom-right-corner{

}


.x-div {
    position: absolute;
    background-color: white;
    width: 1.35em;
    height: 0.25em;
    border-radius: 0%;
    transform: rotate(45deg);
}
.other-half {
    transform: rotate(-45deg); 
}
.outer-circle {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}
.inner-circle {
    background-color: #232946;
    width: 65%;
    height: 65%;
    border-radius: 50%;
}